<launch>

    <arg name="plot_raw_emg" default="true" doc="plot lower and upper raw EMG signals"/>
    <arg name="plot_linear_acc" default="false" doc="plot lower and upper linear acceleration"/>

    <!-- configs for connecting myo and setting rviz -->
    <rosparam param="num_myo">2</rosparam>
    <rosparam param="left_myo_name">['left_upper_myo', 'left_lower_myo']</rosparam>

    <node pkg="connect_myo" name="left_myo_raw" type="left_myo_raw" output="screen"/>

    
    <group if="$(arg plot_raw_emg)">
        <node name="left_upper_raw_emg"
            pkg="rqt_plot"
            type="rqt_plot"
            args="/left_upper_myo/myo_emg/data[0] 
                /left_upper_myo/myo_emg/data[1]
                /left_upper_myo/myo_emg/data[2]
                /left_upper_myo/myo_emg/data[3]
                /left_upper_myo/myo_emg/data[4]
                /left_upper_myo/myo_emg/data[5]
                /left_upper_myo/myo_emg/data[6]
                /left_upper_myo/myo_emg/data[7]
                /left_upper_myo/myo_emg/data[8] 
                /left_upper_myo/myo_emg/data[9]
                /left_upper_myo/myo_emg/data[10]
                /left_upper_myo/myo_emg/data[11]
                /left_upper_myo/myo_emg/data[12]
                /left_upper_myo/myo_emg/data[13]
                /left_upper_myo/myo_emg/data[14]
                /left_upper_myo/myo_emg/data[15]"/>

        <node name="left_lower_raw_emg"
            pkg="rqt_plot"
            type="rqt_plot"
            args="/left_lower_myo/myo_emg/data[0] 
                /left_lower_myo/myo_emg/data[1]
                /left_lower_myo/myo_emg/data[2]
                /left_lower_myo/myo_emg/data[3]
                /left_lower_myo/myo_emg/data[4]
                /left_lower_myo/myo_emg/data[5]
                /left_lower_myo/myo_emg/data[6]
                /left_lower_myo/myo_emg/data[7]
                /left_lower_myo/myo_emg/data[8] 
                /left_lower_myo/myo_emg/data[9]
                /left_lower_myo/myo_emg/data[10]
                /left_lower_myo/myo_emg/data[11]
                /left_lower_myo/myo_emg/data[12]
                /left_lower_myo/myo_emg/data[13]
                /left_lower_myo/myo_emg/data[14]
                /left_lower_myo/myo_emg/data[15]"/>
    </group>

    <group if="$(arg plot_linear_acc)">
        <node name="left_upper_acc"
            pkg="rqt_plot"
            type="rqt_plot"
            args="/left_upper_myo/myo_imu/linear_acceleration/x
                /left_upper_myo/myo_imu/linear_acceleration/y
                /left_upper_myo/myo_imu/linear_acceleration/z"/>

        <node name="left_lower_acc"
            pkg="rqt_plot"
            type="rqt_plot"
            args="/left_lower_myo/myo_imu/linear_acceleration/x
                /left_lower_myo/myo_imu/linear_acceleration/y
                /left_lower_myo/myo_imu/linear_acceleration/z"/>
    </group>

</launch>