<launch>

    <arg name="plot_raw_emg_imu" default="true" doc="plot lower and upper raw EMG signals"/>

    <!-- <rosparam param="target_pos">target_0</rosparam> -->
    <node pkg="connect_myo" name="RU_myo_node" type="RU_myo_node" output="screen"/>
    <node pkg="connect_myo" name="RL_myo_node" type="RL_myo_node" output="screen"/>

    <group if="$(arg plot_raw_emg_imu)">
        <node name="plot_raw_emg"
            pkg="rqt_plot"
            type="rqt_plot"
            args="/RU_myo/emg/data[0] 
                /RU_myo/emg/data[1]
                /RU_myo/emg/data[2]
                /RU_myo/emg/data[3]
                /RU_myo/emg/data[4]
                /RU_myo/emg/data[5]
                /RU_myo/emg/data[6]
                /RU_myo/emg/data[7]"/>

        <node name="plot_raw_ori"
            pkg="rqt_plot"
            type="rqt_plot"
            args="/RU_myo/imu/orientation/x
                /RU_myo/imu/orientation/y
                /RU_myo/imu/orientation/z
                /RU_myo/imu/orientation/w
            "/>
        <node name="plot_raw_ang_vel"
            pkg="rqt_plot"
            type="rqt_plot"
            args="/RU_myo/imu/angular_velocity/x
                /RU_myo/imu/angular_velocity/y
                /RU_myo/imu/angular_velocity/z
            "/>
        <node name="plot_raw_lin_acc"
            pkg="rqt_plot"
            type="rqt_plot"
            args="/RU_myo/imu/linear_acceleration/x
                /RU_myo/imu/linear_acceleration/y
                /RU_myo/imu/linear_acceleration/z
            "/>
    </group>

</launch>
