<launch>

    <arg name="plot_raw_emg" default="true" doc="plot lower and upper raw EMG signals"/>
    <arg name="plot_linear_acc" default="false" doc="plot lower and upper linear acceleration"/>

    <!-- configs for connecting myo and setting rviz -->
    <rosparam param="num_myo">2</rosparam>
    <rosparam param="right_myo_name">['right_upper_myo', 'right_lower_myo']</rosparam>

    <node pkg="connect_myo" name="right_myo_raw" type="right_myo_raw" output="screen"/>

    
    <group if="$(arg plot_raw_emg)">
        <node name="right_upper_raw_emg"
            pkg="rqt_plot"
            type="rqt_plot"
            args="/right_upper_myo/myo_emg/data[0] 
                /right_upper_myo/myo_emg/data[1]
                /right_upper_myo/myo_emg/data[2]
                /right_upper_myo/myo_emg/data[3]
                /right_upper_myo/myo_emg/data[4]
                /right_upper_myo/myo_emg/data[5]
                /right_upper_myo/myo_emg/data[6]
                /right_upper_myo/myo_emg/data[7]"/>

        <node name="right_lower_raw_emg"
            pkg="rqt_plot"
            type="rqt_plot"
            args="/right_lower_myo/myo_emg/data[0] 
                /right_lower_myo/myo_emg/data[1]
                /right_lower_myo/myo_emg/data[2]
                /right_lower_myo/myo_emg/data[3]
                /right_lower_myo/myo_emg/data[4]
                /right_lower_myo/myo_emg/data[5]
                /right_lower_myo/myo_emg/data[6]
                /right_lower_myo/myo_emg/data[7]"/>
    </group>

    <group if="$(arg plot_linear_acc)">
        <node name="right_upper_acc"
            pkg="rqt_plot"
            type="rqt_plot"
            args="/right_upper_myo/myo_imu/linear_acceleration/x
                /right_upper_myo/myo_imu/linear_acceleration/y
                /right_upper_myo/myo_imu/linear_acceleration/z"/>

        <node name="right_lower_acc"
            pkg="rqt_plot"
            type="rqt_plot"
            args="/right_lower_myo/myo_imu/linear_acceleration/x
                /right_lower_myo/myo_imu/linear_acceleration/y
                /right_lower_myo/myo_imu/linear_acceleration/z"/>
    </group>

</launch>